<link rel="stylesheet" href="angular/views/home/home.css">
<div class="edit-container view-animate">
  <div class="row">
    <div class="col-xs-4"><h2>Credentials</h2>
      <label class="control-label" for="inputUsername">Username</label>
      <input class="form-control" placeholder="username" ng-disabled=status.credentials ng-model="openstack.username" id="inputUsername" >
      <label required class="control-label" for="inputPassword">Password</label>
      <input class="form-control" placeholder="password" ng-disabled=status.credentials type="password" ng-model="openstack.password" id="inputPassword" >
      <div class="row">
        <div class="col-xs-6">
          <label required class="control-label" for="inputTenant">Tenant name</label>
          <input class="form-control" placeholder="tenant_name" ng-disabled=status.credentials ng-model="openstack.tenant_name" id="inputTenant" >
        </div>
        <div class="col-xs-6">
          <label required class="control-label" for="inputRegion">Region(optional)</label>
          <input class="form-control" placeholder="RegionOne" ng-disabled=status.credentials ng-model="openstack.region" id="inputRegion" ng-init="openstack.region=''">
        </div>
      </div>
      <label required class="control-label" for="inputURL">Authentication URL </label>
      <input class="form-control" placeholder="http://127.0.0.1:5000" ng-disabled=status.credentials ng-model="openstack.url" id="inputURL" >
      <button class="btn btn-success btn-block btn-lg field-diff"  ng-click="checkCredentials()">Check credentials</button>
    </div>


  </div>

  <div class="row bottom-controls" ng-show=status.credentials>
  <div class="col-xs-4">
    <label for="file-upload" class="btn btn-default btn-lg btn-block"> Upload File</label>
    <input type="file" id = "file-upload" file-model="myFile">
    <label required class="control-label center-block">{{myFile.name}}</label>
    <label class="control-label" for="stackName">Stack Name</label>
    <input class="form-control" placeholder="stack_name" ng-model="my_stack" id="stackName" >
  </div>
  <div class="col-xs-4">
    <button class="btn btn-success btn-block btn-lg" ng-click="pushToOpenstack()">Import to Openstack</button>
  </div>

 </div>

</div>